# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Javascript/Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project screenshots
*.png

# Project instructions
HOW_TO.txt

# Database setup scripts
backend/migration.py
backend/set_admin.py